
<header class="d-flex flex-wrap justify-content-center py-3 bg-dark">
<a href="/lists " class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
<svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
<span class="fs-4 text-light mr-2">Popcorn</span>
<i class="fa-solid fa-film text-danger ml-2 "></i>
</a>
<ul class="nav nav-pills">
<li class="nav-item "><a href="/lists" class="btn btn-danger text-light" aria-current="page">My list</a></li>
 <li class="nav-item"><a href="/lists/new" class="nav-link text-light">New list</a></li>
 </ul>
 </header>
